* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#00857e, #387fa8);
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding: 30px 20px 0 20px;
    overflow: auto;
}

#app {
    text-align: center;
    padding-top: 30px;
}

.header p {
    color: white;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 1.3rem;
}

.container .box {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    margin: 0 20px;
    flex: 1;
    height: 300px;
    position: relative;
    padding-top: 20px;
    border-bottom: 10px solid black;
    max-width: 200px;
    min-width: 190px;
}

.container .centro {
    width: 10px;
    height: 230px;
    position: absolute;
    background-color: black !important;
    margin: 0;
    z-index: 1;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.active p:first-of-type {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
    transform: translateY(-90px);
    transition: ease 1s;
}

.active .n1:first-of-type {
    transform: translateY(-252px);
}

.active .n2:first-of-type {
    transform: translateY(-225px);
}

.active .n3:first-of-type {
    transform: translateY(-198px);
}

.active .n4:first-of-type {
    transform: translateY(-171px);
}

.active .n5:first-of-type {
    transform: translateY(-144px);
}

.active .n6:first-of-type {
    transform: translateY(-117px);
}

.container div p {
    margin: 0;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 27px;
    z-index: 2;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}

.index1 {
    width: 40px;
    background-color: #fbb41c;
}

.index2 {
    width: 60px;
    background-color: #fa8500;
}

.index3 {
    width: 80px;
    background-color: #ff0033;
}

.index4 {
    width: 100px;
    background-color: crimson;
}

.index5 {
    width: 120px;
    background-color: olive;
}

.index6 {
    width: 140px;
    background-color: #57a88b;
}

.index7 {
    width: 160px;
    background-color: #7abad3;
}

.size {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-left: 20px;
}

.size p {
    font-size: 1rem;
    text-align: left;
    color: white;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.size select {
    margin: 0 10px;
}

@media  (max-width:678px) {
    .container{
        justify-content:flex-start;
    }
    
}